{% extends "abastece/catalogo.html" %}
{% block title %}Catálogo{% endblock %}
{% block styles %}
<style>
        @page {
            size: "A4";
            margin: 1.0cm 1.5cm 3.5cm 1.5cm;
        }
        body {
            width: 100% !important;
            height: 100%;
            color: black;
            font-size: 100%;
            font-family: 'Helvetica', sans-serif;
            line-height: 1.65;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
        }

</style>
{% endblock %}