{% extends "abastece/base.html" %}
{% block title %}Lista de NODOS{% endblock %}
{% block content %}
<main role="main">
    <h1>NODOS DE CONSUMO</h1>
    <br>
    {% if nodo_list %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Domicilio</th>
            <th>Contacto</th>
            <th>Teléfono</th>
        </tr>
        </thead>
        <tbody>
        {% for nodo in nodo_list %}
        <tr>
            <td>{{ nodo }}</td>
            <td>{{ nodo.domicilio }}</td>
            <td>{{ nodo.get_referente_nombre }}</td>
            <td>{{ nodo.get_referente_telefono }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    {% else %}
    <p>No hay nodos.</p>
    {% endif %}
</main>
{% endblock %}