{% extends "abastece/base.html" %}
{% load static %}
{% block title %}Planilla de PEDIDOS{% endblock %}
{% block content %}

<h1>Planilla de PEDIDOS</h1>
    <h3>Nodo {{ nodo.nombre }}</h3>
    <br>
{% if filas %}

<table class="table planilla">
    <thead class="thead-dark">
    <tr>
        <th>Cod.</th>
        <th>Producto</th>
        <th>Precio<br>Final</th>
        {% for pedido in encabezado %}
        <th><a href="{% url 'pedido-modificar' pedido.id nodo.id%}">{{ pedido.nombre|truncatechars:8 }}</a><br>
            <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-danger btn-sm" href="{% url 'pedido-eliminar' pedido.id %}"> <i class="bi-trash"></i></a>
            <a class="btn btn-primary btn-sm" href="{% url 'pedido-resumen' pedido.id %}"> <i class="bi-download"></i></a>
            </div>
        </th>
        {% endfor %}
        <th>Total<br>Unids.</th>
        <th>Para<br>Nodo</th>
        <th>Importe<br>Total</th>
    </tr>
        </thead>
        <tbody class="bordes">
        {% for fila in filas %}
        <tr>
            <td>{{ fila.producto.producto_variedad.pk }}</td>
            <td>{{ fila.producto.producto_variedad.producto }}
                {{ fila.producto.producto_variedad.producto.cantidad }}
                {{ fila.producto.producto_variedad.producto.unidad }}
                {% if fila.producto.producto_variedad.descripcion != "UNICA" %}
                - {{ fila.producto.producto_variedad.descripcion|truncatewords:3 }}
                {% endif %}
            </td>
            <td>{{ fila.producto.producto_ciclo.precio }}</td>
            {% for columna in fila.columnas %}
            <td class="num">{{ columna }}</td>
            {% endfor %}

            <td>{{ fila.cantidad_total }}</td>
            <td>{{ fila.importe_nodo|floatformat:"-2" }}</td>
            <td>{{ fila.importe_total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3"></td>
            {% for total in totales.columnas %}
            <td>{{ total }}</td>
            {% endfor %}
            <td></td>
            <td>{{ totales.importe_nodo|floatformat:"-2" }}</td>
            <td>{{ totales.importe_total }}</td>
        </tr>
        <tr>
            <td colspan="{{ totales.columnas|length|add:3 }}"></td>
            <td colspan="2">Para la red Atizar:</td>
            <td>{{ totales.importe_atizar|floatformat:"-2" }}</td>
        </tr>
        </tbody>


    </table>
    {% else %}
    <p>No hay pedidos.</p>
    {% endif %}
<a class="btn btn-primary" href="{% url 'pedido-crear' nodo.id %}">Agregar pedido</a>
{% endblock %}
