<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos en el próximo Ciclo</title>

    {% load bootstrap4 %}
    {% bootstrap_css %}
</head>
<body>
<div class="container">
    <main role="main">
        {% if variedades_en_ciclo %}
        <table class="table">
            <thead>
            <tr>
                <th>Productor</th>
                <th>Producto</th>
                <th>Detalles</th>
                <th>Variedad</th>
                <th colspan="3">Presentación</th>
                <th>C. Prod.</th>
                <th>C. Transp.</th>
                <th>C. Fin.</th>
                <th>Precio</th>
            </tr>
            </thead>
            {% for variedad in variedades_en_ciclo %}
            <!--        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
            <tr>
                <td>{{ variedad.producto_variedad.producto.productor }}</td>
                <td>{{ variedad.producto_variedad.producto.titulo }}</td>
                <td>{{ variedad.producto_variedad.producto.descripcion }}</td>
                <td>{{ variedad.producto_variedad.descripcion }}</td>
                <td>{{ variedad.producto_variedad.producto.envase }}</td>
                <td>{{ variedad.producto_variedad.producto.cantidad }}</td>
                <td>{{ variedad.producto_variedad.producto.unidad }}</td>
                <td>{{ variedad.producto_variedad.producto.costo_produccion }}</td>
                <td>{{ variedad.producto_variedad.producto.costo_transporte }}</td>
                <td>{{ variedad.producto_variedad.producto.costo_financiero }}</td>
                <td>{{ variedad.producto_ciclo.precio }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No hay variedades en el ciclo.</p>
        {% endif %}
    </main>
</div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>