{% extends "abastece/base.html" %}

{% block title %}Ingrese su nueva contraseña{% endblock %}

{% block content %}

{% if validlink %}

<p>Por favor ingrese su nueva contraseña dos veces:</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Nueva contraseña:</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirme nueva contraseña:</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="Restablecer">
</fieldset>
</form>

{% else %}

<p>El link para restablecer contraseña no es válido, posiblemente porque ya fue utilizado. Solicite un nuevo restablecimiento de contraseña.</p>

{% endif %}

{% endblock %}
